// ****************
// * Fonts Import *
// ****************
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$montserrat: 'Montserrat', sans-serif;

// *******************
// * Color Variables *
// *******************
$black: black;
$white: white;
$gray-primary: #4E5150;
$gray-second: #A9A9A9;
$gray-card: #E5E5E5;

// **************
// * Font Sizes *
// **************
// *    Profil Name    * //
$profile-desktop:     24px;
$profile-tablet:      18px;
$profile-mobile:      14px;

// * Profil Subheading * //
$subheading-desktop:  14px;
$subheading-mobile:   10px;

//  * Card Info Sizes  * //
$normal-count-desk:   18px;
$normal-count-mobile: 12px;
$normal-text-desk:    14px;
$normal-text-mobile:  10px;

//      * Footer *       //
$footer:              14px;

// ******************
// * Font Typefaces *
// ******************
$semibold: 600;

// ***************
// * Font Styles *
// ***************
$normal: normal;